/* Colors */
:root {

  /* Header or Wood Colors*/
  --shadow_woodbrown: #261206;
  --woodbrown: #593616;
  --lightwood: #8C5A1C;
  --woodhighlight: #BF9E60;
  --woodbrighthighlight: #F2E1AE;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Background */


/* Header */
nav {
  display: flex;
  align-items: center;
  width: 96%;
  height: 60px;
  margin-top: 4px;
  padding: 10px 20px;
  border: 8px solid var(--shadow_woodbrown);
  background: radial-gradient(circle, rgba(89,54,22,1) 13%, rgba(71,41,16,1) 72%, rgba(38,18,6,1) 100%);
  box-shadow: 5px 5px 15px var(--woodhighlight);
}

nav h1 {
  font-family: "Creepster", serif;
  font-weight: 100;
  font-size: 36px;
  text-shadow: 0 0 3px var(--shadow_woodbrown), 0 0 5px var(--shadow_woodbrown);
  color: var(--woodbrighthighlight);
}

